
/GPTWritingPrompter/.vs
/GPTWritingPrompter/GPTWritingPrompter/bin
/AIdeaGPTWritiingPrompter/.vs
/AIdeaGPTWritiingPrompter/AIdeaGPTWritiingPrompter/bin
/AIdeaGPTWritiingPrompter/AIdeaGPTWritiingPrompter/obj
/AIdeaGPTWritiingPrompter/AIdeaGPTWritiingPrompter/obj
/AIdeaGPTWritiingPrompter/AIdeaGPTWritiingPrompter/obj
